*.iml
.gradle/
.idea/
local.properties
**/build/
**/captures/
.DS_Store
*.apk
*.aab
*.so
!third_party/**
app/libs/*.zip
app/libs/*.aar
**/jniLibs/**/*.so
local-llm-core/libs/*.zip
local-llm-core/src/main/jniLibs/
.cxx/
*.hprof
